#title {
    font-size: 7em;
  }

#stats {
    font-size: 2em;
}

.stat {
    margin: auto 20px auto 20px;
    display: inline-block;
}

.stat::after {
    content: attr(data-stat);
    position: static;
}

#cookieInfo {
    margin: 20px;
}