@import url('https://fonts.googleapis.com/css?family=Encode+Sans:400,700&display=swap');

:root {
  --lightblue: #3498db;
  --darkblue: #174360;
  --blue: hsl(204, 64%, 44%);
  --red: hsl(360, 82%, 63%);
  --yellow: hsl(48, 89%, 50%);
  font-family: 'Encode Sans', sans-serif;
  font-weight: 600;
  color: var(--blue);
  
}
a:visited {
  color: var(--blue);
}

html {
  height: 100%;
}
body {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  margin: 0;
}

#container {
  grid-column-start: 2;
  display: grid;
}

#container>div {
  margin: auto;
}